:root {
  // Base colors
  --sm-c-blue-100: #e3f2fd;
  --sm-c-blue-200: #8ecae6;
  --sm-c-blue-300: #219EBC;
  --sm-c-blue-500: #023047;
  --sm-c-yellow-200: #FFB703;
  --sm-c-yellow-300: #FB8500;

  --sm-c-gray-200: #ccc;
  --sm-c-gray-100: #F7F5F2;

  --sm-c-red-200: #e71d36;
  --sm-c-red-300: #720026;

  --sm-c-white: #fff;
  --sm-c-black: #000;
}