* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: var(--sm-c-blue-500, #000);
    color: var(--sm-c-white, #fff)
  }
}

html,
body {
  @include text--app;

  min-height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  overflow: hidden;
}

.root-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: max(100vh, 100%);
}