.base-badge {
  $basebadge: &;

  padding: .3rem;
  border: 1px solid var(--sm-c-blue-300);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;

    >li {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      color: var(--sm-c-blue-500);
      flex: 1;

      &::before {
        @include text--mini;

        margin-right: .2rem;
        content: attr(data-label);
        font-weight: var(--sm-font-weight-bold, 400);
        text-transform: uppercase;
      }

      &#{$basebadge}--is-action {
        flex: 0 0 5%;

        &::after {
          display: none
        }
      }

      +li {
        padding-left: .5rem;

        &::after {
          left: 0;
          height: 50%;
          position: absolute;
          top: 50%;
          width: 1px;

          background: var(--sm-c-yellow-200);
          content: '';

          transform: translateY(-50%)
        }
      }
    }
  }

  &__unfold {
    align-items: center;
    border-radius: 50%;
    height: px2rem(20);
    position: relative;
    justify-content: center;
    width: px2rem(20);

    background: var(--sm-c-yellow-300);
    cursor: pointer;

    &::before,
    &::after {
      background: var(--sm-c-white);
      height: 1px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 50%;

      content: '';
      transform: translateX(-50%) translateY(-50%)
    }

    &::before {
      transform: translateX(-50%) translateY(-50%) rotate(90deg)
    }
  }
}