@mixin text--regular {
  font-family: var(--sm-defualt-font-family, 'Arial');
  font-weight: var(--sm-font-weight-regular, 'regular');
}

@mixin text--app {
  @include text--regular;
  font-size: var(--sm-font-size-medium, 16px);
}

@mixin text--big {
  @include text--regular;
  font-size: var(--sm-font-size-big, 18px);
}

@mixin text--small {
  @include text--regular;
  font-size: var(--sm-font-size-small, 14px);
}

@mixin text--mini {
  @include text--regular;
  font-size: var(--sm-font-size-mini, 12px);
}