.heroes-list {
  $heroeslist: &;
  width: 100%;
  max-width: px2rem(650);

  &__table {
    +#{$heroeslist}__footer {
      margin-top: px2rem(20);
    }
  }

  &__row {
    +#{$heroeslist}__row {
      margin-top: .5rem;
    }
  }

  &__footer {
    &__list {
      display: flex;

      >li {
        display: flex;
        flex: 1;
        justify-content: flex-start;

        +li {
          justify-content: flex-end;
        }
      }
    }
  }
}